{% block body %}
<div class="container">
    <div class="row">
        <h3 class="mt-5 mb-5 offset-md-3">Create a new Classroom</h3>
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.Name) }}
                    {{ form_widget(form.Name,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-info mt-2 text-white">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}